**/.git/*
**/.github/*
**/.vscode/*
**/dist/*
**/media/*
**/node_modules/*
**/secrets/*

**/.env*
**/.eslint*
**/.gitattributes
**/.gitignore
**/.pre-commit-config.yaml
**/.prettier*
**/docker-compose*.y*ml

docs/*
src/cli/*

*.gz
*.log
*.sql
*.tar
